body {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #576F73;
}
main p{
    font-family: Roboto;
    text-align: center;
}
header {
    padding: 25px;
    padding-left: 10%;
    width: 100%;
    height: 25px;
    background-color: #B4D7DC;
}
header p {
    width: 294px;
    height: 31px;
    left: 116px;
    top: 13%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    color: #576F73;
}
.alpha{
    top: 105px;
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    color: #576F73;

}
img {
    width: 180px;
    height: 142px;
    border: 10px solid #CDE5D2;
    margin: 0% 5% 0% 5%;
}
h2{
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    font-size: 32px;
    color: #576F73;
}
main p{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #576F73;
    background: #BBC4E0;
    border-radius: 50px;
    padding: 13px;
}
footer {
    padding: 25px;
    padding-left: 10%;
    height: 25px;
    background-color: #B4D7DC;
    width: 100%;
}
footer a{
    margin-right: 25px;
    margin-left: 10%;
    width: 100%;
    height: 25px;
    background-color: #BBE5C2;
    color: #576F73;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
}
img.r{
    margin: 0% 30% 0% 20px;
}
img.l{
    margin: 0% 0% 0% 100px;
}
